WhatsApp.json
{
  "name": "WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ae0916fa-fce2-4599-8924-cb50fc9cedf5",
      "name": "Webhook",
      "webhookId": "84103cee-a9d2-4f12-9660-652561c2c70a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94733a12-98df-4ecf-9215-1ddb2cd79378",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "cd13d090-1c3c-41b5-9ce0-bc945f80924c",
              "name": "chatld",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "b35c09ff-22fc-48ea-959e-a58fff705b5f",
              "name": "PushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "fb74a858-e193-4599-a0a3-3e361a69eca8",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "058accfa-4f7e-4178-b3ac-2cbc4a1151cf",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "a21d4aff-9952-46f2-b6b8-7140a5c1dee6",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "91ee4825-deb1-42f7-b62b-bbdc5a96201a",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "db5249ad-b931-4aee-a940-4e26a915a68e",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3b46db49-ae30-4711-96ee-993cfbfea290"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "9980f789-8b9b-4070-ad69-62edc0f7a0b4",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é um atendente virtual de uma empresa chamada LP STUDIO MARCENARIA, ela trabalha com projetos sob medida, seu papel é levar o cliente até a finalização da compra, você deve ser claro, didático e paciente. Seu nome é Atendente virtual, tente organizar todas as ideias em apenas 1 única mensagem, sua tarefa é fazer um resumo de todo um resumo do projeto que o cliente pedir para o responsável fazer o orçamente mais tarde. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "6daf4ae8-0fd1-4b36-b740-1f9d4af57ef3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "33705103-0616-4cc1-b48c-b32439eb3e2c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YDXqv5TcVBjf67I2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.chatld }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        640,
        208
      ],
      "id": "78fab366-d575-4beb-8670-27523da856ca",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "6zlQrud4bB899L1o",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatld }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1184,
        0
      ],
      "id": "f8d97f12-4e73-4b2c-abc4-3e5afa1a6f08",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "mtO1HvJ3hPqabg63",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatld }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1392,
        0
      ],
      "id": "5beaca6d-00e9-4d7b-9485-712689927ac7",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "mtO1HvJ3hPqabg63",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9abf1f2-09f6-4fe5-a18c-ead1a432b56e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "101a9838ed923ade4cf1fd20c9b37b7705ca49a987ad838579de42ec581d3ad2"
  },
  "id": "wL6605fvulvKUcQa",
  "tags": []
}